// header

.navbar {
	width: 1440px !important;
	height: 50px !important;
	background-color: #0a84c1 !important;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2) !important;
	border: none;
}

.navbar-inverse {
	width: 1440px !important;
	height: 50px !important;
	background-color: #0a84c1 !important;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2) !important;
	color: white !important;
	border-color: transparent !important;
}

.navbar-brand {
	color: white !important;
}

.navbar-nav>li>a {
	color: white !important;
}



.twitter-card-small{
	display:block;
	margin: 0 auto;
}

.twitter-card-side{
	float:left;
}

.twitter-card-large{
	background-color: white !important;
}

.card {
	width: 340px;
	height: 120px;
	border-radius: 5px;
	border: solid 2px #eaeaea;
}

.username {
	width: 110px;
	height: 17px;
	font-family: HelveticaNeue-Medium;
	font-size: 14px;
	color: #333333;
	float:left;
}

.handle {
	width: 82px;
	height: 14px;
	font-family: HelveticaNeue;
	font-size: 12px;
	color: #666666;
	float:left;
}

.twitter-text{
	width: 229px;
	height: 42px;
	font-family: HelveticaNeue;
	font-size: 10px;
	line-height: 1.4;
	color: #333333;
}
