.twitter-card-small{
	display:block;
	margin: 0 auto;
}

.twitter-card-side{
	float:left;
}

.twitter-card-large{
	background-color: white !important;
}

.card {
	width: 340px;
	height: 120px;
	border-radius: 5px;
	border: solid 2px #eaeaea;
	background-color: white;
}

.username {
	padding-top: 20px;
    font-family: HelveticaNeue-Medium;
    font-size: 14px;
    color: #333333;
    float: left;
}

.handle {
	padding-top: 20px;
	padding-right:20px;
	font-family: HelveticaNeue;
	font-size: 12px;
	color: #666666;
	float:right;
}

.twitter-text{
	padding-top: 45px;
    padding-right: 20px;
    font-family: HelveticaNeue;
    font-size: 10px;
    line-height: 1.4;
    color: #333333;
}

.twitter-img{
	padding-left: 10px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 2px;
    float: left;
}